@import url("../styles/theme.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  /**************** FlexBox Utilities */

  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }

  /**************** Button Utilities */

  .btn {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }
  .btn-secondary {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }
  .btn-tertiary {
    @apply bg-light-700 dark:bg-dark-300 !important;
  }

  /**************** Component Utilities */

  .card-wrapper {
    @apply dark:dark-gradient dar bg-light-900 shadow-light-100;
  }

  .markdown {
    @apply dark:pros prose max-w-full dark:prose-p:text-light-700;
  }

  /**************** Gradient Utilities */

  .primary-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  }
  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  /**************** Scrollbar Utilities */

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /**************** Markdown Styling */

  .markdown a {
    color: #1da1f2;
  }
  .markdown a,
  code {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;

    /* word-break: break-all; */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    padding: 2px;
    color: #ff7000 !important;
  }
  .markdown pre code {
    width: 100%;
    display: block;
    overflow-x: auto;
    color: inherit !important;
  }

  /**************** Interactive Element Utilities */
  .tab {
    @apply min-h-full! dark:bg-dark-400! bg-light-800! text-light-500! dark:data-[state=active]:bg-dark-300! data-[state=active]:bg-primary-100! data-[state=active]:text-primary-500!;
  }

  .no-focus {
    @apply focus-visible:ring-0! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
  }

  .active-theme {
    filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
      brightness(104%) contrast(106%) !important;
  }

  .light-gradient {
    background: linear-gradient(
      132deg,
      rgba(247, 249, 255, 0.5) 0%,
      rgba(229, 237, 255, 0.25) 100%
    );
  }

  .primary-text-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /**************** Third-party Library Overrides */

  /* Clerk */
  .cl-internal-b3fm6y {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  }
  .hash-span {
    margin-top: -140px;
    padding-bottom: 140px;
    display: block;
  }

  /**************** Browser-specific Utilities */

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
